<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	<link rel="stylesheet"  href="static/login.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous:wght@400&display=swap" />
</head>
<body>
   <div class="desktop-11">
      <div class="login-card">
         <div class="rounded-rectangle">
         </div>
         <div class="username">username</div>
         <div class="password">password</div>
         <form method="post" action="/login">
               <input type="text" class= "username-field" name="username" required>
               <input type="password" class="password-field" name="password" required>
            <button type="submit" class="login-btn">
                <div class="login-btn-child">
                </div>
                <div class="login">Login</div>
            </button>
         </form>
         <div class="logo">
            <div class="logo-child">
            </div>
            <div class="logo-item">
            </div>
            <div class="mawar-melati">
               <p class="mawar">MAWAR</p>
               <p class="mawar">MELATI</p>
            </div>
         </div>
      </div>
   </div>
</body>
</html>